/* MOBILE ONLY  */

/* @media (max-width: 920px) {
} */

/* SMALL */

@media (max-width: 840px) {
	html {
		font-size: 12px;
	}

	body {
		max-width: 800px;
	}
	.main-header .nav-bar a {
		height: 30px;
        width: 80px;
		margin-inline-end: 10px;
	}

	.main-header .logo {
		letter-spacing: 0.6rem;
		font-size: 1.2rem;
	}
	.about {
		flex-direction: column;
		width: 100%;
		height: 5rem;
		padding: 10rem;
		margin: auto;
		background-color: var(--main2);
		color: var(--txt);
	}
	.about img {
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}
	.edit-meme {
		width: 100%;
		flex-direction: column;
	}

	.edit-buttons {
		width: 100%;
		padding-top: 15px;
		border-radius: 1rem;
		background-color: var(--main2);
	}
	.canvas-container {
		height: 80%;
		width: 100%;
	}

	/* .style-text {
		width: 80%;
	} */

	.style-text button {
		font-size: 1rem;
		height: 2.5rem;
		width: 4.5rem;
	}
	.upload-service button {
		font-size: 1rem;
		width: 8rem;
	}

	.txt {
		width: 80%;
	}
}

/* MEDIUM */

@media (min-width: 840px) {
	body {
		min-width: 800px;
	}
	.edit-meme {
		margin: auto;
		width: 70%;
		justify-content: center;
		align-items: center;
		justify-content: space-around;
		gap: 180px;
	}

	.edit-buttons {
		height: 450px;
		padding-top: 15px;
		border-radius: 1rem;
		background-color: var(--main2);
		gap: 15px;
	}

	.style-text {
		width: 60%;
		align-items: center;
		gap: 10px;
	}

	.style-text button {
		font-size: 1.5rem;
		height: 2rem;
		width: 10rem;
	}
	.upload-service button {
		font-size: 1rem;
	}

	.txt {
		width: 80%;
	}
}

/* LARGE */

@media (min-width: 920px) {
	html {
		font-size: 16px;
	}
	body {
		margin: 0 auto;
		min-width: 1160px;
	}

	.gallery {
		margin: auto;
		width: 80%;
		margin-block-end: 10px;
	}
	.edit-meme {
		margin: auto;
		width: 90%;

		gap: 100px;
	}

	.edit-buttons {
		width: 50%;
		height: 450px;
		padding-top: 15px;
		border-radius: 1rem;
		background-color: var(--main2);
	}

	.style-text {
		width: 60%;

		gap: 15px;
	}

	.style-text button {
		font-size: 1.5rem;
		height: 2.5rem;
		width: 4rem;
	}
	.upload-service button {
		font-size: 1rem;
		width: 6rem;
	}

	.txt {
		width: 60%;
	}
}
