
@font-face {
    font-family: fa;
    src: url(../../fonts/awsome/fa-solid-900.ttf);
}
@font-face {
    font-family: fab;
    src: url(../../fonts/awsome/fa-brands-400.ttf);
}
@font-face {
    font-family: ps;
    src: url(../../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: julius;
    src: url(../../fonts/JuliusSansOne-Regular.ttf);
}

